body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(61, 45, 119);
}

section {
    display: flex;
    width: 1150px;
    margin: 0 auto;
    padding-bottom: 50px;
    justify-content: center;
}

.header {
    flex-direction: column;
    align-items: center;
    color: blanchedalmond;
}

.menu {
    background-color: blue;
    border: 3px solid rgb(53, 184, 27);
    border-radius: 10px;
    color: cornsilk;
}

.menu:hover {
    background-color: rgb(128, 128, 230);
    border: 3px solid rgb(18, 66, 9);
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 0 10px;
}

button:hover {
    color: rgb(255, 255, 255);
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}


input:hover {
    outline: 3px solid rgb(170, 170, 170)
}

.submit {
   display: flex;
   justify-content: space-between;
}

section.hidden-block {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: coral;
    opacity: 0.9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.heading-menu{
    margin-top: 8%;
    position: absolute;
    font-size: 48px;
    color: rgb(255, 255, 255);

}

.closed {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40px;
    right: 40px;
}

nav {
    margin-top: 8%;
    display: flex;

}

ul {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 48px;
    padding: 0;
    
}

li:hover {
    color:rgb(255, 4, 4);
}

h2 {
    line-height: 0%; 
 }

 li {
     list-style-type: none;
 }
