body {
    background-color: rgb(61, 45, 119);
}

button {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 1.2em;
}

.first {
    background-color: red;
}

.second {
    background-color: green;
}

.third {
    background-color: blue;
}
